* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #2a2a2a;
  --second-bg-color: #202020;
  --text-color: #ffffff;
  --second-text-color: #FF4D00;
  --main-color: #ff4d05;
  --big-font: 5rem;
  --h2-font: 2.8rem;
  --p-font:1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 0 3%;
  border-bottom: 1px solid transparent;
  transition: all .45s ease;
  opacity: 0.8;
}

header.sticky{
  background: #1b1b1b;
  border-bottom: 1px solid #ffffff1a;
  padding: 0px 3%;
  
}

.navlist{
  display: flex;
}

.navlist li{
  border-bottom: 2px solid transparent;
  padding: 10px;
}

.navlist a{
  color: var(--text-color);
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  transition: all .45s ease;
}

.navlist a:hover {
  color: var(--second-text-color);
}

.navlist a.active {
  color: var(--second-text-color);
  border-bottom: 2px solid var(--second-text-color);

}

.social-network{
  display: flex;
}

figure {
  margin: 0 10px;
  height: 25px;
  width: 25px;
}

#fig1 {
  background-image: url("./img/logo-linkedin-white.svg");  
  background-size: 25px;
  transition: all .45s ease;
}

#fig1:hover {
  background-image: url("./img/logo-linkedin-orange.svg");  
  background-size: 25px;
}

#fig2 {
  background-image: url("./img/logo-github-white.svg");  
  background-size: 25px;
  transition: all .45s ease;
}

#fig2:hover {
  background-image: url("./img/logo-github-orange.svg");  
  background-size: 25px;
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  transition: all .45s ease;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

#menu-icon:hover{
  color: var(--second-text-color);
}

section {
  padding: 70px 8% 120px;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url("./img/background-inicio-2.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-text{
  padding-top: 10%;
}

.home-text #nome{
  font-size: 80px;
  font-weight: 900;
  color: var(--text-color);
  letter-spacing: -2px;
  line-height: 0.8;
  padding-left: 5px;
}

.home-text #sobre-nome{
  line-height: 0.8;
  font-size: var(--big-font);
  font-weight: 300;
  color: var(--text-color);
  letter-spacing: -2px;
  padding-left: 3px;
  margin: 0 0 10px;
}

.home-text h3{
  font-size: 25px;
  font-weight: bold;
  color: var(--second-text-color);
  letter-spacing: 1.5px;
  margin: 0 0 8px;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.home-text h3 span span{
  color: var(--text-color);
  font-size: 25px;
}

.home-text h3 span{
  letter-spacing: 1.5px;
  color: var(--text-color);
  font-size: 20px;
  font-weight: normal;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 170px;
  padding-inline: 15px;
}

.btn1, .btn2{
  display: inline-block;
  font-size: 20px;
  padding: 5px 38px;
  margin: auto;
  border: 2px solid rgb(161, 157, 157);
  border-radius: 20px;
  color: rgb(161, 157, 157);
  font-weight: bold;
  letter-spacing: 1px;
  transition: all .45s ease;
}

.btn1:hover, .btn2:hover{
  transform: scale(0.9);
  color: var(--second-text-color);
  border: 2px solid var(--second-text-color);
}

#logo-js, #logo-python {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  transition: all .45s ease;

}
#logo-js:hover, #logo-python:hover{
	transform: translateY(-8px);
	cursor: pointer;
}

.about {
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));  align-items: center;
  gap: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.850),
  rgba(0, 0, 0, 0.850)), url(./img/background-about.png);
  background-position: center;
  background-size: cover;
}

.about-img{
  padding-left: 10%;
  transition: all .45s ease;
}

.about-img img {
  max-width: 400px;
  height: auto;
  width: 100%;
}
.about-img:hover{
	transform: translateY(-8px);
	cursor: pointer;
}
.about-text {
  padding: 35px;
  background-color: #00000088;
  border-radius: 8px;
  transition: all .45s ease;

}

.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
  font-weight: normal;
  padding-bottom: 40px;
  color: var(--second-text-color);
}

.about-text h2 span{
  padding-top: 10px;
  color: var(--text-color);
  border-top: 2px solid var(--second-text-color) ;
}

.about-text p {
  color: rgb(209, 208, 208);
  font-size: var(--p-font);
  margin-bottom: 20px;
  word-spacing: 1px;
  text-align: justify;
}

.btn{
  margin-top: 30px;
	display: inline-block;
	padding: 12px 28px;
	background: var(--main-color);
	border-radius: 5px;
	color: var(--text-color);
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all .45s ease;
}
.btn:hover{
	transform: scale(0.9);
  background: white;
  color: #FF4D00;

}

.skills{
  background-image: linear-gradient(rgba(0, 0, 0, 0.850),
  rgba(0, 0, 0, 0.850)), url(./img/timeline-background.png);
  background-position: center;
  background-size: cover;
}

.main-text {
  text-align: center;
}

.main-text h2 {
 color: var(--second-text-color);
 font-size: var(--h2-font);
 line-height: 1;
}

.main-text h2 span{
  color: var(--text-color);
}

.main-text p{
	color: var(--second-color);
	font-size: 15px;
	margin-bottom: 15px;
}

.services-content{
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 2.5rem;
	margin-top: 5rem;
}

.tech{
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.493);
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  padding: 10px;
}

.box{
	padding: 35px 35px;
	border-radius: 8px;
	transition: all .45s ease;
  margin-right: 15px;
  width: 250px;
  text-align: center;
  margin: 0 auto;
}

.box h3{
	font-size: 24px;
	font-weight: normal;
	color: var(--second-text-color);
	margin-bottom: 15px;
}
.box h2{
	font-weight: normal;
  display: flex;
  margin-bottom: 5px;
}
.box img{
	width: 25px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.time-line{
  width: 300px;
  display: flex;
  flex-direction: column;
}
.time-line h3, .titulo-tech h3{
  margin-bottom: 35px;
  text-align: center;
}
.tech .box h3{
  margin-bottom: 20px;
  text-align: left;
}
.time-line span, .titulo-tech span{
  font-size: 30px; 
  border-bottom: 2px solid #FF4D00; 
}

.time-line img{
  justify-content: center;
  margin: 0 auto;
  width: 250px;
  transition: all .45s ease;
}

.time-line img:hover{
  transform: translateY(-8px);
	cursor: pointer;
}

.more-skills{
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  margin-top: 40px;
  gap: 30px;
}

.more-skills img {
  width: 300px;
}
.more-skills h3 {
  text-align: initial;
  margin-bottom: 20px;
}
.more-skills .premios h3{
  text-align: center;
}
.more-skills .premios, .more-skills .skils-softskils {
  transition: all .45s ease;
}
.more-skills .premios:hover, .more-skills .skils-softskils:hover {
  transform: translateY(-8px);
	cursor: pointer;
}

.more-skills p{
  text-align: initial;
  font-size: 18px;
  margin-bottom: 20px;
}

.box:hover{
	transform: translateY(-8px);
	cursor: pointer;
}

.projects {
  background-position: center;
  background-color: black;
  background-size: cover;
}

.portfolio-content {
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  padding: 20px;
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.row img{
  width: 100%;
  border-radius: 8px;
  display: block;
	transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.1), var(--main-color));
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}

.layer h5{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}
.layer p{
	color: var(--second-color);
	font-size: 1rem;
	line-height: 1.8;
}
.layer .site-github{
  display: flex;
  gap: 10px;
}
.layer .site-github i:hover{
  color: white;
  background: #FF4D00;
}
.layer i{
	color: var(--main-color);
	margin-top: 20px;
	font-size: 30px;
	background: var(--text-color);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.row:hover img{
	transform: scale(1.1);
  filter: brightness(20%);
  transition: all .45s ease;
}
.row:hover .layer{
	height: 100%;
}

.contact{
	background-image: linear-gradient(rgba(0, 0, 0, 0.850),
  rgba(0, 0, 0, 0.850)), url(./img/world-comunication.jpg);
  background-position: center;
  background-size: cover;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2.5rem;
}

.contact-text h2{
	font-size: var(--h2-font);
	line-height: 1;
  text-align: initial;
  font-size: 40px;
}
.contact-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 30px;
}
.list{
  margin-top: 20px;
	margin-bottom: 30px;
}
.list li{
	margin-bottom: 12px;
}
.list li a{
	display: block;
	color: var(--second-color);
	font-size: 18px;
	transition: all .45s ease;
}
.list li a:hover{
	color: var(--text-color);
	transform: translateX(5px);
}
.contact-icons i{
	height: 45px;
	width: 45px;
	background: var(--main-color);
	color: var(--text-color);
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 15px;
	transition: all .45s ease;
}
.contact-icons i:hover{
	background: var(--text-color);
	color: var(--main-color);
}

.contact-form form{
	position: relative;
}
.contact-form form input,
form textarea{
  word-spacing: 2px;
	width: 100%;
	padding: 14px;
	background: rgba(24, 24, 24, 0.726);
	color: var(--text-color);
	border: none;
	outline: none;
	font-size: 18px;
	border-radius: 8px;
	margin-bottom: 10px;
}
.contact-form textarea{
	resize: none;
	height: 240px;
}
.contact-form .submit{
	display: inline-block;
	font-size: 16px;
	background: var(--main-color);
	color: var(--text-color);
	width: 160px;
	transition: all .45s ease;
}
.contact-form .submit:hover{
  background: var(--text-color);
	color: var(--second-text-color);

}

.end{
	padding: 10px 3%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	background: rgb(19, 19, 19);
}

.top i{
	padding: 10px;
	border-radius: 8px;
	font-size: 15px;
	color: var(--text-color);
	background: var(--main-color);
  transition: all .45s ease;
}

.top i:hover{
  transform: scale(1.1);
  background: var(--text-color);
	color: var(--main-color);
}

.last-text p{
  display: flex;
  text-align: initial;
  justify-content: center;
  align-items: center;
}
.last-text img{
  width: 25px;
  text-align: center;
}


@media (max-width: 1480px){
	header{
		padding: 0px 3%;
		transition: .1s;
	}
	header.sticky{
		padding: 0px 3%;
		transition: .1s;;
	}
	section{
		padding: 110px 8% 100px;
	}
	.end{
		padding: 10px 3%;
	}
  .home-text #nome, .home-text #sobre-nome{
    font-size: 60px;
  }
}

@media (max-width: 1100px){
	:root{
		--big-font: 4rem;
	  --h2-font: 2.5rem;
	  --p-font: 1rem;
	  transition: .1s;
	}
	.home-text h3{
		font-size: 2.5rem;
	}
	.home{
		height: 87vh;
	}
}

@media (max-width: 920px){
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
		order: 2;
	}
	.about-img img{
		width: 100%;
		height: auto;
		max-width: 100%;
	}
  .contact{
		grid-template-columns: 1fr;
	}
  .services-content{
    display: grid;
	  grid-template-columns: repeat(1, minmax(200px, auto));
    padding: 10px;
  }
  .about-img{
    padding-left: 0;
  }
  .premios img{
    width: 95%;
  }
  .home-text{
    width: 70%;
  }
  .layer, .layer h5, .layer p{
    width: 84%;
  }
  .layer p {
    line-height: 0.9;
  }
  .row img{
    width: 80%;
  }
  
  .button a{
    font-size: 15px;
    padding: 10px 10px;
    margin: auto;
  }
  .button{
    padding-bottom: 50px;
  }
  .home-text #nome, .home-text #sobre-nome{
    font-size: 40px;
  }
  .home-text h3 {
    font-size: 30px;
  }
  .box h2{
    font-size: 20px;
  }
  header{
    width: auto;
    align-items: initial;
    left: 0;
  }
}

@media (max-width: 840px){
	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: -1000px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: var(--bg-color);
		text-align: left;
		transition: all .45s ease;
	}
	.navlist a{
		display: block;
		font-size: 20px;
		transition: all .45s ease;
		color: var(--text-color);
    text-align: center;
	}
	.navlist a:hover{
		color: var(--main-color);
	}

	.navlist.open{
		top: 100%;
	}
}
