* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Lato', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;

  --bg-color: #000000;
  --second-bg-color: #C94C16;
  
  --text-color: #ffffff;
  --second-text-color: #FF4D00;

  --first-font: 'Lato', sans-serif;
  --second-font: 'Inter', sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--first-font);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--bg-color);

  padding: 1rem 10rem;
  /* border-bottom: 1px solid transparent; */

  opacity: 0.8;
  transition: all .45s ease;
}

.navlist{
  display: flex;
  gap: 4rem;
}

.navlist a{
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--text-color);

  transition: all .45s ease;
}

.navlist a:hover {
  color: var(--second-text-color);
}

.navlist a.active {
  color: var(--second-text-color);
  font-weight: bolder;;

}

.social-network{
  display: flex;
  gap: 2rem;
}

figure {
  height: 3.5rem;
  width: 3.5rem;
}

#fig1 {
  background-image: url("./img/logo-linkedin-white.svg");  
  background-size: 3.5rem;
  transition: all .45s ease;
}

#fig1:hover {
  background-image: url("./img/logo-linkedin-orange.svg");  
  background-size: 3.5rem;
}

#fig2 {
  background-image: url("./img/logo-github-white.svg");  
  background-size: 3.5rem;
  transition: all .45s ease;
}

#fig2:hover {
  background-image: url("./img/logo-github-orange.svg");  
  background-size: 3.5rem;
}

#menu-icon {
  font-size: 5rem;
  color: var(--text-color);
  transition: all .45s ease;
  z-index: 11;
  cursor: pointer;
  margin-left: 2.5rem;
  display: none;
}

#menu-icon:hover{
  color: var(--second-text-color);
}

section {
  padding: 10rem 10rem 10rem;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./img/background-inicio-2.png");
  background-position: center;
  background-size: cover;

  width: 100%;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-presentation {
  min-width: 55rem;
}

.home-presentation p {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3rem;
  padding-left: 2px;
}

.home-presentation #name{
  font-weight: 800;
  font-size: 8.3rem;
  line-height: 10rem;
  color: var(--text-color);
  letter-spacing: -2px;
  line-height: 0.8;
}

.home-presentation #last-name{
  font-weight: 300;
  font-size: 7.6rem;
  line-height: 0.8;
  font-weight: 300;
  color: var(--text-color);
  letter-spacing: -2px;
  padding-bottom: 1.5rem;

}

.home-presentation h3 p {
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3rem;
  display: inline;
}

.home-presentation h3{
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.2rem;

  color: var(--second-text-color);
  letter-spacing: 1.5px;
  padding-bottom: 8rem;
}

.home-presentation h3 span strong{
  color: var(--text-color);
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.2rem;

}

.home-presentation h3 span{
  letter-spacing: 1.5px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 32px;

}

.button {
  max-width: 44rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 0 auto;
}

.project-button, .contact-button {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;

  padding: 1rem 5rem;

  border: 2px solid var(--text-color);
  border-radius: 3rem;
  color: var(--text-color);
  letter-spacing: 1px;
  transition: all .45s ease;
}

.project-button:hover, .contact-button:hover {
  transform: scale(0.9);
  color: var(--second-text-color);
  border: 2px solid var(--second-text-color);
}

/* ---------------- About ----------------------- */
.about {
  position: relative;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 100vh;
}

.about-img {
  transition: all .45s ease;
}

.about-img img {
  max-width: 45rem;
  border-radius: 8px 0px;
}
.about-img:hover{
	transform: translateY(-8px);
	cursor: pointer;
}
.about-text {
  max-width: 55rem;
  background-color: var(--bg-color);
  transition: all .45s ease;

}

.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
  font-weight: normal;
  padding-bottom: 3rem;
  color: var(--second-text-color);

  font-weight: 400;
  font-size: 5.5rem;
  line-height: 6.6rem;
}

.about-text h2 span{
  padding-top: 10px;
  color: var(--text-color);
  border-top: 2px solid var(--second-text-color) ;
}

.about-text p {
  color: var(--text-color);
  font-size: var(--p-font);
  margin-bottom: 2rem;
  word-spacing: 1px;
  text-align: justify;

  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.button-cv {
  margin: 3rem auto 0;
	background: var(--bg-color);
  transition: all .45s ease;
  display: flex;
}

.btn-cv {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.2rem;
  background: transparent;
  border: 1px solid var(--second-bg-color);
  color: var(--second-text-color);
  padding: 1rem 2.5rem;
  border-radius: 0.8rem;
  transition: all .45s ease;
}

.button-cv:hover {
  transform: scale(0.9);
}

.btn-cv:hover {
  background: var(--second-bg-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

img.balls {
  position: absolute;
  bottom: 3rem;
  right: 5rem;
}


/* ------------ skilss ------------------ */
.skills{
  background-image: linear-gradient(rgba(0, 0, 0, 0.850),
  rgba(0, 0, 0, 0.850)), url(./img/timeline-background.png);
  background-position: center;
  background-size: cover;
}

.main-text {
  text-align: center;
}

.main-text h2 {
 color: var(--second-text-color);
 font-size: var(--h2-font);
 line-height: 1;
}

.main-text h2 span{
  color: var(--text-color);
}

.main-text p{
	color: var(--second-color);
	font-size: 15px;
	margin-bottom: 15px;
}

.services-content{
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 2.5rem;
	margin-top: 5rem;
}

.tech{
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.493);
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  padding: 10px;
}

.box{
	padding: 35px 35px;
	border-radius: 8px;
	transition: all .45s ease;
  margin-right: 15px;
  width: 250px;
  text-align: center;
  margin: 0 auto;
}

.box h3{
	font-size: 24px;
	font-weight: normal;
	color: var(--second-text-color);
	margin-bottom: 15px;
}
.box h2{
	font-weight: normal;
  display: flex;
  margin-bottom: 5px;
}
.box img{
	width: 25px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.time-line{
  width: 300px;
  display: flex;
  flex-direction: column;
}
.time-line h3, .titulo-tech h3{
  margin-bottom: 35px;
  text-align: center;
}
.tech .box h3{
  margin-bottom: 20px;
  text-align: left;
}
.time-line span, .titulo-tech span{
  font-size: 30px; 
  border-bottom: 2px solid #FF4D00; 
}

.time-line img{
  justify-content: center;
  margin: 0 auto;
  width: 250px;
  transition: all .45s ease;
}

.time-line img:hover{
  transform: translateY(-8px);
	cursor: pointer;
}

.more-skills{
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  margin-top: 40px;
  gap: 30px;
}

.more-skills img {
  width: 300px;
}
.more-skills h3 {
  text-align: initial;
  margin-bottom: 20px;
}
.more-skills .premios h3{
  text-align: center;
}
.more-skills .premios, .more-skills .skils-softskils {
  transition: all .45s ease;
}
.more-skills .premios:hover, .more-skills .skils-softskils:hover {
  transform: translateY(-8px);
	cursor: pointer;
}

.more-skills p{
  text-align: initial;
  font-size: 18px;
  margin-bottom: 20px;
}

.box:hover{
	transform: translateY(-8px);
	cursor: pointer;
}

.projects {
  background-position: center;
  background-color: black;
  background-size: cover;
}

.portfolio-content {
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  padding: 20px;
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.row img{
  width: 100%;
  border-radius: 8px;
  display: block;
	transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.1), var(--main-color));
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}

.layer h5{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}
.layer p{
	color: var(--second-color);
	font-size: 1rem;
	line-height: 1.8;
}
.layer .site-github{
  display: flex;
  gap: 10px;
}
.layer .site-github i:hover{
  color: white;
  background: #FF4D00;
}
.layer i{
	color: var(--main-color);
	margin-top: 20px;
	font-size: 30px;
	background: var(--text-color);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.row:hover img{
	transform: scale(1.1);
  filter: brightness(20%);
  transition: all .45s ease;
}
.row:hover .layer{
	height: 100%;
}

.contact{
	background-image: linear-gradient(rgba(0, 0, 0, 0.850),
  rgba(0, 0, 0, 0.850)), url(./img/world-comunication.jpg);
  background-position: center;
  background-size: cover;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2.5rem;
}

.contact-text h2{
	font-size: var(--h2-font);
	line-height: 1;
  text-align: initial;
  font-size: 40px;
}
.contact-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 30px;
}
.list{
  margin-top: 20px;
	margin-bottom: 30px;
}
.list li{
	margin-bottom: 12px;
}
.list li a{
	display: block;
	color: var(--second-color);
	font-size: 18px;
	transition: all .45s ease;
}
.list li a:hover{
	color: var(--text-color);
	transform: translateX(5px);
}
.contact-icons i{
	height: 45px;
	width: 45px;
	background: var(--main-color);
	color: var(--text-color);
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 15px;
	transition: all .45s ease;
}
.contact-icons i:hover{
	background: var(--text-color);
	color: var(--main-color);
}

.contact-form form{
	position: relative;
}
.contact-form form input,
form textarea{
  word-spacing: 2px;
	width: 100%;
	padding: 14px;
	background: rgba(24, 24, 24, 0.726);
	color: var(--text-color);
	border: none;
	outline: none;
	font-size: 18px;
	border-radius: 8px;
	margin-bottom: 10px;
}
.contact-form textarea{
	resize: none;
	height: 240px;
}
.contact-form .submit{
	display: inline-block;
	font-size: 16px;
	background: var(--main-color);
	color: var(--text-color);
	width: 160px;
	transition: all .45s ease;
}
.contact-form .submit:hover{
  background: var(--text-color);
	color: var(--second-text-color);

}

.end{
	padding: 10px 3%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	background: rgb(19, 19, 19);
}

.top i{
	padding: 10px;
	border-radius: 8px;
	font-size: 15px;
	color: var(--text-color);
	background: var(--main-color);
  transition: all .45s ease;
}

.top i:hover{
  transform: scale(1.1);
  background: var(--text-color);
	color: var(--main-color);
}

.last-text p{
  display: flex;
  text-align: initial;
  justify-content: center;
  align-items: center;
}
.last-text img{
  width: 25px;
  text-align: center;
}


@media (max-width: 1480px){
	header{
		padding: 0px 3%;
		transition: .1s;
	}
	header.sticky{
		padding: 0px 3%;
		transition: .1s;;
	}
	section{
		padding: 110px 8% 100px;
	}
	.end{
		padding: 10px 3%;
	}
  .home-text #nome, .home-text #sobre-nome{
    font-size: 60px;
  }
}

@media (max-width: 1100px){
	:root{
		--big-font: 4rem;
	  --h2-font: 2.5rem;
	  --p-font: 1rem;
	  transition: .1s;
	}
	.home-text h3{
		font-size: 2.5rem;
	}
	.home{
		height: 87vh;
	}
}

@media (max-width: 920px){
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
		order: 2;
	}
	.about-img img{
		width: 100%;
		height: auto;
		max-width: 100%;
	}
  .contact{
		grid-template-columns: 1fr;
	}
  .services-content{
    display: grid;
	  grid-template-columns: repeat(1, minmax(200px, auto));
    padding: 10px;
  }
  .about-img{
    padding-left: 0;
  }
  .premios img{
    width: 95%;
  }
  .home-text{
    width: 70%;
  }
  .layer, .layer h5, .layer p{
    width: 84%;
  }
  .layer p {
    line-height: 0.9;
  }
  .row img{
    width: 80%;
  }
  
  .button a{
    font-size: 15px;
    padding: 10px 10px;
    margin: auto;
  }
  .button{
    padding-bottom: 50px;
  }
  .home-text #nome, .home-text #sobre-nome{
    font-size: 40px;
  }
  .home-text h3 {
    font-size: 30px;
  }
  .box h2{
    font-size: 20px;
  }
  header{
    width: auto;
    align-items: initial;
    left: 0;
  }
}

@media (max-width: 840px){
	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: -1000px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: var(--bg-color);
		text-align: left;
		transition: all .45s ease;
	}
	.navlist a{
		display: block;
		font-size: 20px;
		transition: all .45s ease;
		color: var(--text-color);
    text-align: center;
	}
	.navlist a:hover{
		color: var(--main-color);
	}

	.navlist.open{
		top: 100%;
	}
}
